---
import { Image } from 'astro:assets'
import Logo from '../../assets/wevise.jpg'
interface Props {
	thumbnail?: string
	company: string;
	yearFrom: number;
	yearTo?:number | string; 
	href?: string;
	body?: string
}

const { href, company, yearFrom, yearTo, body } = Astro.props;
---
<div class="flex bg-primary border border-accent p-8 mt-5 rounded-lg">
	<Image src={Logo} alt="Wevise logo" class="w-32 h-32 mr-8 rounded-lg" />

<div class="flex flex-col">
	<div class=" flex space-x-4">
		<a href={href} class="w-fit">
			<h3 class="text-lg md:text-2xl font-extrabold font-heading opacity-75 hover:opacity-100 transition-opacity duration-300">{company}</h3>
		</a>
		<span class="w-fit">
		<p class="text-lg pt-0.5 font-heading font-semibold text-accent">{yearFrom} - {yearTo}</p>
	</span>
	</div>
	<div class="mt-3">
		<p>{body}</p>
	</div>
</div>
</div>